deaths_on_eight-thousanders.csv
data/Asia_Russia-fgdc.xml
data/Asia_Russia-iso19110.xml
data/Asia_Russia-iso19139.xml
data/Asia_Russia.dbf
data/Asia_Russia.prj
data/Asia_Russia.sbn
data/Asia_Russia.shp
data/Asia_Russia.shp.xml
data/Asia_Russia.shx